<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
   <h1> Register </h1>
   <form action="/details" method="post">
       <input type="text" name="username" placeholder="user name" /> <br>
       <input type="password" name="password" placeholder="password" /> <br>
       <input type="email" name="email" placeholder="email" /> <br>
       <input type="text" name="address" placeholder="address" /> <br>
       <input type="submit"  /> <br>

   </form>
</body>
</html>